* {
  font-family: "Roboto", sans-serif;
  margin: 0px;
  padding: 0px;
}

body {
  background-image: url("https://a11an0.github.io/Calculator/images/watercolour-bluyellow.jpg");
  transition: 400ms ease;
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: fixed;
  background-size: cover;
}
